@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <img src="~/Images/WalmartLogo.jpg" alt="E-commerce" style="max-width: 50%; height: 50%;" />
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

@* <img src="D:\.NET CORE 8\WalmartPro\wwwroot\Images\What-is-Ecommerce.jpg" alt="Image" /> *@